.card-container {
  height: 310px;
  width: 200px;
  img {
    width: 100%;
    justify-self: center;
  }
  .card-text-wrapper {
    padding-left: 5px;
    p {
      color: rgba(0, 0, 0, 0.667);
      font-size: xx-small;
      font-weight: lighter;
      margin-bottom: 5px;
    }
    span {
      font-size: smaller;
    }
  }
}
